.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }



/* colors */
div {
    /* - Dark Blue (intro and email sign up background):  */
    color: hsl(217, 28%, 15%);
    /* - Dark Blue (main background): */
    color: hsl(218, 28%, 13%);
    /* - Dark Blue (footer background):  */
    color: hsl(216, 53%, 9%);
    /* - Dark Blue (testimonials background): */
     color: hsl(219, 30%, 18%);

     /* ### Accent */
     
     /* - Cyan (inside call-to-action gradient):  */
     color: hsl(176, 68%, 64%);
     /* - Blue (inside call-to-action gradient):  */
     color: hsl(198, 60%, 50%);
     /* - Light Red (error):  */
     color: hsl(0, 100%, 63%);


}




/* ===== mobile:grid start ===== */
.grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto, repeat(3, 100px);
    grid-template-areas: 
        "img"
        "h1"
        "p"
        "btn"
    ;

    background: url(images/bg-curvy-mobile.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}

.grid-child {
 
    /* margin: vertical | horizontal */
    margin: 0 auto;
    text-align: center;
}

h1 {
    grid-area: h1;
}

p {
    grid-area: p;
}

img {
    grid-area: img;
}

button {
    grid-area: btn;
}

/* ===== mobile:grid end ===== */



/* ===== mobile:general styling ===== */
body {
    margin: 0;
    color: #fff;
}


main {
    background-color: hsl(218, 28%, 13%); 
}

.padding {
    padding: 50px 50px;
}

.margin-child {
    margin: 10px 0;
}

.img {
    max-width: 100%;
}

.lg-img {

}

.sm-img {

}

/* ===== mobile: intro styling  ===== */
.intro {
    background-color: hsl(217, 28%, 15%);
    
}


/* ===== desktop styling ===== */

@media (min-width: 1440px){
/* ===== desktop:general styling ===== */

.padding {
    padding: 100px 400px;
}

.margin-child {
    margin: 10px 0;
}

/* ===== desktop:intro styling ===== */
.intro {
    background: url(images/bg-curvy-desktop.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    background-color: hsl(217, 28%, 15%)
}




}