.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }



/* colors */
.placeholder {
    /* - Dark Blue (intro and email sign up background):  */
    color: hsl(217, 28%, 15%);
    /* - Dark Blue (main background): */
    color: hsl(218, 28%, 13%);
    /* - Dark Blue (footer background):  */
    color: hsl(216, 53%, 9%);
    /* - Dark Blue (testimonials background): */
     color: hsl(219, 30%, 18%);

     /* ### Accent */
     
     /* - Cyan (inside call-to-action gradient):  */
     color: hsl(176, 68%, 64%);
     /* - Blue (inside call-to-action gradient):  */
     color: hsl(198, 60%, 50%);
     /* - Light Red (error):  */
     color: hsl(0, 100%, 63%);


}




/* ===== mobile:grid start ===== */
.grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto repeat(4, auto);
    grid-template-areas: 
        "img"
        "h1"
        "p"
        "btn"
        ".."
    ;

    
}

.grid-child {
 
    /* margin: vertical | horizontal */
    margin: 0 auto;
    text-align: center;
}

h1 {
    grid-area: h1;
}

h2 {
    grid-area: h2;
}

h3 {
    grid-area: h3;
}

p {
    grid-area: p;
}

.p1 {
    grid-area: p1;
}

.p2 {
    grid-area: p2;
}

img {
    grid-area: img;
}

button {
    grid-area: btn;
}

a {
    grid-area: a;
}

/* ===== mobile:grid end ===== */



/* ===== mobile:general styling ===== */
body {
    margin: 0;
    color: #fff;
}


main {
    background-color: hsl(218, 28%, 13%); 
}

.padding {
    padding: 50px 50px;
}

.margin-child {
    margin: 10px 0;
}

.img {
    max-width: 100%;
}

.lg-img {

}

.sm-img {
    margin: 40px auto;
}

/* ===== mobile: intro styling  ===== */
.intro {
    background: url(images/bg-curvy-mobile.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    background-color: hsl(217, 28%, 15%);
}


/* ===== mobile: benefits styling ===== */
.benefits > .grid {
    grid-template-areas: 
        "img"
        "h2"
        "p"
        ".."
    ;

    text-align: center;
}

.benefits > .grid > .margin-child {
    margin: 5px 0;
}

/* ===== mobile: stay productive styling ===== */
.stay-productive > .grid {
    grid-template-areas: 
        "img"
        "h2"
        "p1"
        "p2"
        "a"
    ;
}

/* ===== mobile: testimonials styling ===== */
.testimonials > .grid {
    grid-template-columns: repeat(2, auto);
    grid-template-areas: 
    ".. .."
    ".. .."
    "p p"
    "img h2"
    "img h3"
    ;
}



/* ===== desktop styling ===== */

@media (min-width: 1440px){
/* ===== desktop:general styling ===== */

.padding {
    padding: 100px 400px;
}

.margin-child {
    margin: 10px 0;
}

/* ===== desktop:intro styling ===== */
.intro {
    background: url(images/bg-curvy-desktop.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    background-color: hsl(217, 28%, 15%)
}


/* ===== desktop:benefits styling ===== */

.benefits {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
        "sec1 sec2"
        "sec3 sec4"
    ;

    row-gap: 100px;
    column-gap: 100px;
}


.benefits > div:first-child {
    grid-area: sec1;
}
.benefits > div:nth-child(2) {
    grid-area: sec2;
}
.benefits > div:nth-child(3) {
    grid-area: sec3;
}
.benefits > div:nth-child(4) {
    grid-area: sec4;
}


/* ===== desktop:stay productive styling ===== */
.stay-productive > .grid {
    grid-template-columns: auto auto;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 
        "img h2"
        "img p1"
        "img p2"
        "img a"
    ;
}

/* ===== desktop:testimonials styling ===== */
.testimonials {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto;
    grid-template-areas: 
        "t1 t2 t3"
    ;
}

.testimonials > div:first-child {
    grid-area: t1;
}

.testimonials > div:nth-child(2) {
    grid-area: t2;
}

.testimonials > div:nth-child(3) {
    grid-area: t3;
}




}