.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }



/* colors */
.placeholder {
    /* - Dark Blue (intro and email sign up background):  */
    color: hsl(217, 28%, 15%);
    /* - Dark Blue (main background): */
    color: hsl(218, 28%, 13%);
    /* - Dark Blue (footer background):  */
    color: hsl(216, 53%, 9%);
    /* - Dark Blue (testimonials background): */
     color: hsl(219, 30%, 18%);

     /* ### Accent */
     
     /* - Cyan (inside call-to-action gradient):  */
     color: hsl(176, 68%, 64%);
     /* - Blue (inside call-to-action gradient):  */
     color: hsl(198, 60%, 50%);
     /* - Light Red (error):  */
     color: hsl(0, 100%, 63%);


}




/* ===== mobile:grid start ===== */
.grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto repeat(4, auto);
    grid-template-areas: 
        "img"
        "h1"
        "p"
        "btn"
        ".."
    ;

    
}

.grid-child {
 
    /* margin: vertical | horizontal */
    margin: 0 auto;
    text-align: center;
}

h1 {
    grid-area: h1;
}

h2 {
    grid-area: h2;
}

h3 {
    grid-area: h3;
}

p {
    grid-area: p;
}

.p1 {
    grid-area: p1;
}

.p2 {
    grid-area: p2;
}

img {
    grid-area: img;
}

button {
    grid-area: btn;
}

a {
    grid-area: a;
}

form {
    grid-area: form;
}

/* ===== mobile:grid end ===== */



/* ===== mobile:general styling ===== */
body {
    margin: 0;
    color: #fff;
    background-color: hsl(217, 28%, 15%);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}


main {
    background-color: hsl(218, 28%, 13%); 
}

footer {
    background-color: hsl(216, 53%, 9%);
}

.padding {
    padding: 50px 50px;
}

.margin-child {
    margin: 10px 0;
}

.img {
    max-width: 100%;
}

.lg-img {

}

.sm-img {
    margin: 40px auto;
}


/* ===== mobile: header styling  ===== */
header {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 12px;
    padding: 20px 20px;
    position: relative;
}

header > img {
    display: inline-block;
    vertical-align: middle;
    width: 80px;
    position: absolute;
    left: 20px;
}

header > nav {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    right: 20px;
    top: 12px;
}

header > nav > ul {
    padding: 0;
}

header > nav > ul > li {
    display: inline-block;
    padding: 0 10px;
}

header > nav > ul > li:hover {
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
}


/* ===== mobile: intro styling  ===== */
.intro {
    background: url(images/bg-curvy-mobile.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    background-color: hsl(217, 28%, 15%);

    font-size: 10px;
}

.intro > div > h1 {
    font-weight: 700;
    font-size: 20px;
}

.intro > div > button {
    border-radius: 25px;
    border: none;
    height: 50px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    /* background: rgb(101,226,217); */
    background: linear-gradient(99deg, rgba(101,226,217,1) 0%, rgba(51,158,204,1) 100%);
}

.intro > div > button:hover {
    cursor: pointer;
    background: rgba(101,226,217,1);
}

/* ===== mobile: benefits styling ===== */
.benefits > .grid {
    grid-template-areas: 
        "img"
        "h2"
        "p"
        ".."
    ;

    text-align: center;
}

.benefits > .grid > .margin-child {
    margin: 5px 0;
}

.benefits {
    font-size: 10px;
}

.benefits > div {
    margin-bottom: 100px;
}

.benefits > div > h2 {
    font-weight: 700;
}

/* ===== mobile: stay productive styling ===== */
.stay-productive > .grid {
    grid-template-areas: 
        "img"
        "h2"
        "p1"
        "p2"
        "a"
    ;
}


.stay-productive > div > img {
    margin-bottom: 50px;
}

.stay-productive > div {
    font-size: 10px;
}

.stay-productive > div > h2, .stay-productive > div > p {
    text-align: left;
}

.stay-productive > div > a {
    color: hsl(176, 68%, 64%);
    text-align: left;
}

.stay-productive > div > a:hover {
    color: #fff;
    text-decoration: underline;
}
/* ===== mobile: testimonials styling ===== */
.testimonials {
 margin-bottom: 100px;   
}

.testimonials > .grid {
    grid-template-columns: 50px auto;
    grid-template-areas: 
    ".. .."
    ".. .."
    "p p"
    ".. h2"
    "img h3"
    ;
}

.testimonials > div {
    border-radius: 5px;
    /* font-size: 10px; */
    
    /* margin-bottom: 20px; */
    
    background-color: hsl(219, 30%, 18%);
    position: relative;
    padding: 20px 20px;
    margin: 10px 20px 10px 20px;
    /* width: 100%; */
    /* height: 149px; */
    /* margin: 20px 20px; */
}

.testimonials > div > img {
    width: 30px;




    position: absolute;
    left: 6.04%;
    right: 83.99%;
    top: 64.43%;
    bottom: 13.42%;
    border-radius: 64px;
}

.testimonials > div > h3 {
    position: relative;
    left: 22.05%;
    /* right: 0%; */
    /* top: 77.85%; */
    /* bottom: 13.42%; */
    
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 18px;
    
    /* or 180% */
    /* display: flex; */
    /* align-items: center; */
    
    color: #FFFFFF;
}

.testimonials > div > h2 {
    position: relative;
    left: 22.05%;
    /* right: 0%; */
    /* top: 64.43%; */
    /* bottom: 26.85%; */

    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;

    /* or 150% */
    /* display: flex; */
    /* align-items: center; */

    color: #FFFFFF;
}

.testimonials > div > p {
    position: relative;
    /* left: 6.04%; */
    /* right: 6.04%; */
    /* top: 13.42%;
    bottom: 48.99%; */

    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;

    /* or 167% */

    color: #FFFFFF;
}
/* ===== mobile: sign-up styling ===== */
.sign-up > .grid {
    grid-template-areas: 
        ".."
        ".."
        "h2"
        "p"
        "form"
    ;
}

.sign-up {
    height: 100%;
    background: linear-gradient(0deg, hsl(216, 53%, 9%) 50%, hsl(218, 28%, 13%) 50%);
}

.sign-up > div {
    border-radius: 5px;
    background-color: hsl(219, 30%, 18%);
    padding: 20px 20px;
    font-size: 10px;
    -webkit-box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.52); 
    box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.52);
}

.sign-up > div > h2, .sign-up > div > p {
    padding-bottom: 20px;
}


.sign-up > div > form > input {
    border-radius: 25px;
    border: none;
    height: 35px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    text-indent: 20px;    
}



.sign-up > div > form > button {
    border-radius: 25px;
    border: none;
    height: 35px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    /* background: rgb(101,226,217); */
    background: linear-gradient(99deg, rgba(101,226,217,1) 0%, rgba(51,158,204,1) 100%);
}

.sign-up > div > form > button:hover {
    cursor: pointer;
    background: rgba(101,226,217,1);
}

/* ===== mobile: footer styling ===== */
footer.grid {
    grid-template-areas: 
        "img"
        "contact"
        "about"
        "legal"
        "social"
    ;
}

footer > nav > ul {
    padding: 0;
}

footer > nav > ul > li {
    padding: 10px 0;
    font-size: 14px;
    list-style: none;
}

.contact {
    grid-area: contact;
}

.about-us {
    grid-area: about;
}

.legal {
    grid-area: legal;
}

.social {
    grid-area: social;
    margin: auto auto;
}


.social > ul > li {
    display: inline-block;
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

.contact > ul > li:last-child:hover, .about-us > ul > li:hover, .legal > ul > li:hover {
    cursor: pointer;
    font-weight: bold;
}

.social > ul > li:hover {
    cursor: pointer;
    color: hsl(176, 68%, 64%);
}

/* ===== desktop styling ===== */

@media (min-width: 1440px){
/* ===== desktop:general styling ===== */

.padding {
    padding: 100px 400px;
}

.margin-child {
    margin: 10px 0;
}

/* ===== desktop:intro styling ===== */
.intro {
    background: url(images/bg-curvy-desktop.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    background-color: hsl(217, 28%, 15%)
}


/* ===== desktop:benefits styling ===== */

.benefits {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
        "sec1 sec2"
        "sec3 sec4"
    ;

    row-gap: 100px;
    column-gap: 100px;
}


.benefits > div:first-child {
    grid-area: sec1;
}
.benefits > div:nth-child(2) {
    grid-area: sec2;
}
.benefits > div:nth-child(3) {
    grid-area: sec3;
}
.benefits > div:nth-child(4) {
    grid-area: sec4;
}


/* ===== desktop:stay productive styling ===== */
.stay-productive > .grid {
    grid-template-columns: auto auto;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 
        "img h2"
        "img p1"
        "img p2"
        "img a"
    ;
}

/* ===== desktop:testimonials styling ===== */
.testimonials {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto;
    grid-template-areas: 
        "t1 t2 t3"
    ;
}

.testimonials > div:first-child {
    grid-area: t1;
}

.testimonials > div:nth-child(2) {
    grid-area: t2;
}

.testimonials > div:nth-child(3) {
    grid-area: t3;
}

/* ===== desktop: footer styling ===== */
footer.grid {
    grid-template-columns: repeat(5, auto);
    grid-template-rows: auto auto;
    grid-template-areas: 
        "img img img img img"
        "contact contact about legal social"
    ;
}





}